<%- include('../views/partials/header') %>

<div class="mb-5">
  <br />


  <article class="blog-post">
    <h3 class="pb-4 mb-4 fst-italic "><%=blogPost.blogPostTitle%></h3>
    <p class="blog-post-meta text-justify"><%=blogPost.blogPostDescription%></p>
  </article>
  <br />


  </div>

<%- include('../views/partials/footer') %>
